<?xml version="1.0"?>
<configuration>
 <system.webServer>
 <rewrite>
    <rules>
        <rule name="Rewrite Text Requests" enabled="true" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_URI}" pattern="^/BancoMilagroFinanciero/api(.*)$" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="/BancoMilagroFinanciero/index.html" logRewrittenUrl="false" />
        </rule>
    </rules>
 </rewrite>
 </system.webServer>
</configuration>