.botonesAlPie {
    position: fixed;
    bottom: 10px; /* Ajusta según tus necesidades */
    right: 10px;   /* Ajusta según tus necesidades */
  }


  .labelPersonalizado {
    font-size: 16px;
    text-align: left;
    
  }